pkgbase = breezer
pkgdesc = Ultra-lightweight native Deezer client (Rust + Slint)
pkgrel = 1
pkgver = 0.1.0
url = https://github.com/Stananas/Breezer
arch = x86_64
arch = aarch64
license = AGPL-3.0-or-later
makedepends = rust
makedepends = cargo
makedepends = cmake
makedepends = clang
makedepends = pkgconf
depends = alsa-lib
depends = libxkbcommon
depends = fontconfig
depends = hicolor-icon-theme
source = breezer-0.1.0.tar.gz::https://github.com/Stananas/Breezer/archive/refs/tags/v0.1.0.tar.gz
sha256sums = SKIP